


/* ForgotPasswordPage.css */

.forgot-password-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1500px;  /* Adjust if needed to fit the design */
    min-height: 640px;
   
    width: 80%;
    margin: 10vh auto;  /* Increased vertical margin for better centering */
    margin-top:150px;
}

.forgot-password-image {
    flex: 0 0 45%;  /* Fixed width for the image section */
    text-align: center;  /* Center align the image */
    margin-right: 5%;  /* Space between image and form */
}

.forgot-password-form {
    flex: 0 0 50%;  /* Fixed width for the form section */
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center all children including the button */
    padding: 20px;
}

.forgot-password-form h1 {
    width: 100%;  /* Full width */
    text-align: center;  /* Center title */
    font-size: 24px;
    margin-bottom: 20px;
}

.forgot-password-form p {
    width: 100%;  /* Full width */
    text-align: center;  /* Center text */
    margin-bottom: 20px;
}

.forgot-password-form input {
    width: 120%; /* Adjust this as needed */
    max-width: 500px; /* Maximum width to control the size */
    padding: 12px 12px 12px 34px; /* Padding to accommodate the mail icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-image: url('../assets/mail.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    margin-right: 250px;
    
}

.forgot-password-form button {
    width: 80%; /* Adjust this as needed */
    max-width: 500px; /* Maximum width to control the size */
    padding: 12px;
    margin-top: 15px;
    background-color: #5c67f2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-image: none; /* Ensure no background image is applied */
    margin-left: 55px;
}

.forgot-password-form input:hover {
    border-color: #b6b2b2; /* 悬停时改变边框颜色 */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); /* 添加轻微的阴影，增加视觉反馈 */
}


.forgot-password-form button:hover {
    background-color: #4a50e0;
}


.back-to-login {
    width: 100%;  /* Ensure full width for centering */
    display: flex;
    justify-content: center;  /* Horizontally center the link */
    margin-top: 20px;
    text-align: center;  /* Ensures text is centered if it wraps */
}

.back-to-login a:hover {
    color: #020202; /* 更深的蓝色 */
    text-decoration: underline; /* 添加下划线 */
}


.form-error,
.form-success {
    width: 100%;  /* Ensure full width for proper alignment */
    text-align: center;  /* Center these messages */
    margin: 10px 0;
    color: #007BFF;  
}
