/*ResetPasswordPage.css*/

/*ResetPasswordPage.css*/

.reset-password-page-container {
    width: 100%;
    max-width: 600px; /* 增加宽度以适应更大的输入框和按钮 */
    margin: 5% auto; /* 垂直居中 */
    padding: 40px; /* 内边距 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    font-family: Arial, sans-serif;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 居中对齐子项 */
}

.reset-password-page-container h1 {
    font-size: 24px; /* 调整字体大小 */
    margin-bottom: 30px; /* 下边距 */
}

.reset-password-page-form {
    width: 100%; /* 确保表单宽度充满容器 */
}

.reset-password-page-form input {
    padding: 15px;
    margin-bottom: 20px; /* 增加间距提升视觉效果 */
    border: 2px solid #ccc; /* 边框加粗 */
    border-radius: 4px;
    width: 100%; /* 输入框宽度充满容器 */
    font-size: 16px; /* 字体大小 */
}

.reset-password-page-form button {
    padding: 15px;
    width: 100%; /* 按钮宽度与输入框相匹配 */
    background-color: #c0c0c0; /* 银灰色按钮 */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-password-page-form button:hover {
    background-color: #a9a9a9; /* 悬停时颜色变深 */
}
