.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 80%;
  margin: auto;
}


.button {
  padding: 0.5rem 1rem;
  border: 2px solid #0056b3;
  /* Same as the Upgrade button but with a border */
  border-radius: 19px;
  /* Rounded edges */
  background-color: transparent;
  /* No background */
  color: #007bff;
  /* Blue text color */
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  /* Remove underline from link */
  display: inline-block;
  /* To allow padding and other box model properties */
  transition: all 0.3s;
  /* Smooth transition for hover and background effect */
  font-weight: bold;
}

.button:hover {
  background-color: #e7f5ff;
  border-color: #0056b3;
  color: #0056b3;
}


.upload-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 20px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropzone {
  border: 2.5px dashed #7b7a7a;
  border-radius: 10px;
  padding: 50px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.dropzone:hover {
  background-color: #e7f5ff;
  border-color: #0056b3;
  color: #0056b3;
}

.file-list {
  list-style: none;
  width: 80%;
  padding: 0;
  margin-top: 20px;
}

.file-card {
  border: 1px solid #afafaf;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.removeButton {
  border: 1px solid #b0b0b0;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: #6e6e6e;
}

.removeButton:hover {
  background-color: #e7f5ff;
  border-color: #0056b3;
  color: #0056b3;
}

.result-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.title-container {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  padding-left: 8px;
  padding-right: 8px;
}

.title-container button{
  margin-left: 6px;
}

.title-container h2{
  margin-right: auto; 
}

.transcript,
.analysis {
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin: 2px;
  overflow: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.transcript h2,
.analysis h2 {
  font-size: 1.3rem; 
  font-weight: 600;
  color: #000000; 
}

.transcript pre,
.analysis pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: 'Arial', sans-serif; /* Adjust font family */
  color: #000000; 
  margin: 15px;
}

.mode-selector button {
  padding: 0.5rem 1rem;
  border: 2px solid #0056b3;
  border-radius: 19px;
  background-color: transparent;
  color: #007bff;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
  font-weight: bold;
  margin: 12px;
  margin-top: 40px;
}

.mode-selector button:hover {
  background-color: #e7f5ff;
  border-color: #0056b3;
  color: #0056b3;
}

.mode-selector button.active {
  background-color: #007bff;
  color: white;
  border-color: #0056b3;
  
}


.chat-history {
  height: 500px; 
  overflow-y: scroll; 
  border: 2px solid #8e8e8e;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  scrollbar-width: none;
}


.chat-history-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-height: 100%;
}

.chat-history-donkey {
  margin-bottom: 10px;
  margin-right: 40px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  background-color: #e1e7ee;
  
}

.chat-history-user {
  margin-bottom: 10px;
  margin-left: 40px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.chatbox {
  width: 100%;
  margin-bottom: 40px;
}

.chatbox form {
  display: flex;
  position: relative;
}

.chatbox input[type="text"] {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.pre-questions-container{
  padding: 6px;
  margin: 10px;
}

.chat-history-pre-question {
  margin: 10px;
  padding: 30px;
  border-radius: 30px;
  border: 2px solid #0056b3;
  background-color: transparent;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: bold;
}

.chat-history-pre-question hover{
  background-color: #e7f5ff;
  border-color: #0056b3;
  color: #0056b3;
}

.chatbox button {
  padding: 0.5rem 1rem;
  border: 2px solid #0056b3;
  border-radius: 19px;
  background-color: transparent;
  color: #007bff;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
  font-weight: bold;
  margin: 12px;
}

.chatbox button:hover {
  background-color: #e7f5ff;
  border-color: #0056b3;
  color: #0056b3;
}

.extractbox {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
}

.extractbox form {
  display: flex;
  position: relative;
}

.extractbox input[type="text"] {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.extractbox button {
  padding: 0.5rem 1rem;
  border: 2px solid #0056b3;
  border-radius: 19px;
  background-color: transparent;
  color: #007bff;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
  font-weight: bold;
  margin: 12px;
  margin-bottom: 17px;
}

.extractbox button:hover {
  background-color: #e7f5ff;
  border-color: #0056b3;
  color: #0056b3;
}

.video-show {
  border: 2px solid #000000;
  border-radius: 19px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  background-image: url('../assets/extract_donkey.png');
  background-size: 20%; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-color: black; 
}



.video-container {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%; 
  height: 500px;  
  align-items: center; 
  
}

.video-container video {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%; 
  height: 500px;  
}